/*
 * Estilos de tu proyecto
 */
 header, section {
	 text-align: center;
 }

 h1, h2 {
	 padding: 35px 0;
 }

/*header*/
 header {
	position: relative;
 	background-color: #18BC9C;
 	color: #fff;
	padding: 100px 0;
	top: 100px;
 }

 nav {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 height: 100px;
	 background-color: #2C3E50;
	 width: 100%;
	 padding: 0 7.5%;
	 position: fixed;
	 top: 0;
	 z-index: 1000;
 }

 nav li {
	display: inline-block;
	list-style: none;
	margin-left: 30px;
}

nav a {
	text-decoration: none;
	color: #fff;
	font-weight: bolder;
	font-size: 14px;
}

a:hover {
	color: #18BC9C;
}

/*Portafolio*/
#portfolio {
	padding: 100px 0;
	margin-top: 100px;
}
.grid-content{
	display: flex;
  width: 85%;
	height: 560px;
	overflow: auto;
	margin: 0 auto;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
}

.grid {
	position: relative;
}

.grid img{
	transition: .5s ease;
	backface-visibility: hidden;
	zoom: 40%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
	height: 100%;
	width: 100%;
}

.grid:hover .middle {
	background-color: #18BC9C;
  opacity: 0.9;
}

.text {
  color: white;
  font-size: 16px;
  margin: 30% 0;
}

/*About*/
#about {
	background-color: #18BC9C;
	color: #fff;
}

#about > div {
	width: 50%;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
}

#about > div > div {
	width: 48%;
}

#about div p {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	text-align: left;
	text-transform: none;
}

#about a {
	border-radius: 5px;
	border: 1px solid #fff;
	color: #fff;
	padding: 10px;
	text-decoration: none;
	margin: 50px 0;
	text-transform: none;
}

#about a:hover {
	background-color: #fff;
	border: none;
	color: #18bc9c;
}

/*contact me */
form {
	margin: 0 auto;
}

#contact [type="text"] {
	display: block;
	margin: 0 auto;
	width: 50%;
	padding: 20px 15px;
	font-size: 1.5em;
}

#contact [type="submit"] {
	display: block;
	margin: 20px 15px;
}
