/*
 * Estilos de tu proyecto
 */
 header, section {
	 text-align: center;
 }

 h1, h2, h3 {
	 padding: 35px 0;
	 	text-transform: uppercase;
 }

/*header*/
 header {
 	background-color: #18BC9C;
 	color: #fff;
	padding: 200px 0 100px 0;
	text-transform: uppercase;
 }

 nav {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 height: 100px;
	 background-color: #2C3E50;
	 width: 100%;
	 padding: 0 7.5%;
	 position: fixed;
	 top: 0;
	 z-index: 1000;
	 -webkit-transition: height 0.3s;
	 -moz-transition: height 0.3s;
	 transition: height 0.3s;
 }

 nav div > a {
	 color: #fff;
	 font-weight: 700;
	 text-decoration: none;
	 font-size: 1.5em;
	 -webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
	 transition: all 0.3s;
 }

 nav.retraer {
	height: 70px;
 }

 nav div .retraer {
	font-size: 1em;
 }

 nav li {
	display: inline-block;
	list-style: none;
}

li a {
	text-decoration: none;
	color: #fff;
	font-weight: bolder;
	font-size: 14px;
	padding: 15px;
}

.resaltar {
	background-color: #18BC9C;
}

.resaltar:hover {
	background-color: #fff;
}


a:hover {
	color: #18BC9C;
}

 nav div > a:hover {
	color: #fff;
}


/*Portafolio*/
#portfolio {
	padding: 100px 0;
}
.grid-content {
	display: flex;
  width: 85%;
	height: 560px;
	overflow: auto;
	margin: 0 auto;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
}

.grid {
	position: relative;
}

.grid img{
	transition: .5s ease;
	backface-visibility: hidden;
	zoom: 40%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
	height: 100%;
	width: 100%;
}

.grid:hover .middle {
	background-color: #18BC9C;
  opacity: 0.9;
}

.text {
  color: white;
  font-size: 16px;
  margin: 30% 0;
}

/*About*/
#about {
	background-color: #18BC9C;
	color: #fff;
	padding: 100px 0;
}

#about > div {
	width: 50%;
	display: flex;
	margin: 0 auto;
	margin-bottom: 30px;
	justify-content: space-between;
}

#about > div > div {
	width: 48%;
}

#about div p {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	text-align: left;
}

#about a {
	border-radius: 5px;
	border: 1px solid #fff;
	color: #fff;
	padding: 10px;
	text-decoration: none;
}

#about a:hover {
	background-color: #fff;
	border: none;
	color: #18bc9c;
}

/*contact me */
#contact {
	padding: 100px 0;
}

form {
	margin: 0 auto;
	width: 50%;
}

#contact [type="text"] {
	border: none;
	border-top: 1px solid rgba(149, 153, 145, 0.5);
	display: block;
	margin: 0 auto;
	width: 100%;
	padding: 20px 15px;
	font-size: 1.5em;
	outline: none;
}

#contact [type="submit"] {
	background-color: #18BC9C;
	border: none;
	border-radius: 5px;
	color: #fff;
	display: block;
	margin: 20px 0;
	font-size: 1.2em;
	padding: 13px 14px;
}

#contact [type="submit"]:hover {
	background-color: #128F76;
}

textarea {
	border: none;
	border-top: 1px solid rgba(149, 153, 145, 0.5);
	border-bottom: 1px solid rgba(149, 153, 145, 0.5);
	width: 100%;
	padding: 20px 15px;
	font-size: 1.5em;
	outline: none;
	resize: none;
}

/*footer*/
footer {
	background-color: #2C3E50;
	color: #fff;
	height: 340px;
	position: relative;
}

footer section:nth-child(1) {
	display: flex;
	justify-content: space-between;
	padding: 3% 7em 0 11em;
}

footer section:nth-child(2) {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #233140;
	bottom: 0;
	height: 70px;
	font-family: 'Lato', sans-serif;
	font-size: 0.8em;
	position: absolute;
	text-transform: none;
	width: 100%;
}

footer div {
	font-size: 1.2em;
	width: 34%;

}

footer a.circle {
	border-radius: 100%;
	border: 2px solid #fff;
	color: #fff;
	padding: 10px;
}

footer a.circle:hover {
	background-color: #fff;
	color: #18BC9C;
}

footer a.green {
	text-decoration: none;
}

footer a.green:hover {
	text-decoration-line: underline;
}

#location {
	width: 21%;
}
